// @import '~foundation-sites/scss/util/util';

// Colors
$primary: red;
$secondary: yellow;
$tertiary: black;

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', sans-serif;


// Base colors

// Cards
// $card-border-radius: 3px;
// $card-background-color: $socotra-white;
// $card-hover-color: scale-color($socotra-blue-dark, $lightness: 65%);
// $card-focus-color: $card-hover-color;
// $card-border-color: $socotra-bluegray-light;
